In [ ]:
###checking for the type of encoding to use

In [26]:
import chardet

In [31]:
with open("companies.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(1000000))
    print(result)

{'encoding': 'Windows-1252', 'confidence': 0.7281428608333398, 'language': ''}

In [32]:
with open("rounds2.csv", 'rb') as rawdata:
    result1 = chardet.detect(rawdata.read(10000000))
    print(result1)

{'encoding': 'Windows-1254', 'confidence': 0.4183426840377008, 'language': 'Turkish'}

In [ ]:
### import statement and read file to get details of files

ModuleNotFoundError: No module named 'matplotlib'

In [545]:
import numpy as np

In [546]:
import pandas as pd

In [547]:
### read the company data and check the head

In [548]:
companies = pd.read_csv("companies.csv",encoding="latin_1")

In [549]:
companies.head(5)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [550]:
###check if there are duplicates in companies

In [551]:
 duplicate = companies[companies.duplicated()]

In [552]:
duplicate

Empty DataFrame
Columns: [permalink, name, homepage_url, category_list, status, country_code, state_code, region, city, founded_at]
Index: []

In [553]:
### read in rounds2 and check it's head

In [554]:
rounds2 = pd.read_csv("rounds2.csv",encoding="latin_1")

In [555]:
rounds2.head(5)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [556]:
### check if rounds2 have any duplicates

In [557]:
 duplicate1 = rounds2[rounds2.duplicated()]

In [558]:
duplicate1

Empty DataFrame
Columns: [company_permalink, funding_round_permalink, funding_round_type, funding_round_code, funded_at, raised_amount_usd]
Index: []

In [559]:
### look at the cloums of both files

In [560]:
companies.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at'],
      dtype='object')

In [561]:
rounds2.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [562]:
### check the info of both files

In [563]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

In [564]:
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [565]:
### check the description of both files

In [566]:
companies.describe()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
count,66368,66367,61310,63220,66368,59410,57821,58338,58340,51147
unique,66368,66099,61191,27296,4,137,311,1092,5111,3978
top,/Organization/Precioustatus,Blink,http://www.askforoffer.com,Software,operating,USA,CA,SF Bay Area,San Francisco,01-01-2012
freq,1,4,5,3995,53034,37601,12900,8804,3526,2730

In [567]:
rounds2.describe()

       raised_amount_usd
count       9.495900e+04
mean        1.042687e+07
std         1.148212e+08
min         0.000000e+00
25%         3.225000e+05
50%         1.680511e+06
75%         7.000000e+06
max         2.127194e+10

In [568]:
### check the shape of both files

In [569]:
companies.shape

(66368, 10)

In [570]:
rounds2.shape

(114949, 6)

In [571]:
### this is steps was not needed in code, this was for personal analysis

In [572]:
len(companies[['permalink','name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at']].nunique())

10

In [573]:
len(rounds2[['funding_round_permalink','company_permalink','funding_round_type','funding_round_code','funded_at','raised_amount_usd']].nunique())

6

In [574]:
### convert round2  colums [funding_round_permalink] to lower case (! needed by code)

In [575]:
rounds2['funding_round_permalink'] = rounds2['funding_round_permalink'].str.lower()

In [576]:
#companies['funding_round_permalink'] = companies['funding_round_permalink'].str.lower()

In [577]:
### Unique values in companies and rounds2

In [578]:
len(rounds2['company_permalink'].unique())

90247

In [579]:
len(companies['permalink'].unique())

66368

In [580]:
### checking for NAN values

In [581]:
companies.isnull().sum()

permalink            0
name                 1
homepage_url      5058
category_list     3148
status               0
country_code      6958
state_code        8547
region            8030
city              8028
founded_at       15221
dtype: int64

In [582]:
### !needed

In [583]:
companies['homepage_url'].shape

(66368,)

In [584]:
### My assumption is since I have a huge dataset, I will take/drop NAN values out of Companies

In [585]:
companies = companies.dropna()
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
6,/Organization/0Ndine-Biomedical-Inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
7,/Organization/0Xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011

In [586]:
### check if NAN is gone

In [587]:
companies.isnull().sum()

permalink        0
name             0
homepage_url     0
category_list    0
status           0
country_code     0
state_code       0
region           0
city             0
founded_at       0
dtype: int64

In [588]:
### check for NAN in round2

In [589]:
rounds2.isnull().sum()

company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [590]:
### ! needed

In [591]:
rounds2['funding_round_code'].shape

(114949,)

In [592]:
set(companies.columns).intersection(set(rounds2.columns))

set()

In [593]:
### conert para and company para to lower case to enable merge

In [594]:
companies['permalink'] = companies['permalink'].str.lower()

In [595]:
rounds2['company_permalink'] = rounds2['company_permalink'].str.lower()

In [596]:
### drop NAN in round2

In [597]:
rounds2 = rounds2.dropna()
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
10,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0
12,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0

In [598]:
rounds2.isnull().sum()

company_permalink          0
funding_round_permalink    0
funding_round_type         0
funding_round_code         0
funded_at                  0
raised_amount_usd          0
dtype: int64

In [599]:
### Merge both file to Master Frame

In [600]:
master_frame = pd.merge(rounds2, companies, how= "inner", left_on= "company_permalink", right_on= "permalink")

In [601]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
1,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
2,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
3,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0,/organization/10-minutes-with,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
4,/organization/1000memories,/funding-round/502bd0e50c27616995e4bdad24605ef8,venture,A,16-02-2011,2520000.0,/organization/1000memories,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010

In [602]:
### My assumption is since permalink is same as company_permalink, I drop one

In [603]:
master_frame = master_frame.drop(['permalink'], axis=1)

In [604]:
master_frame.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
1,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
2,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
3,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
4,/organization/1000memories,/funding-round/502bd0e50c27616995e4bdad24605ef8,venture,A,16-02-2011,2520000.0,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010

In [605]:
### cleaning the master frame 
master_frame.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd', 'name',
       'homepage_url', 'category_list', 'status', 'country_code', 'state_code',
       'region', 'city', 'founded_at'],
      dtype='object')

In [606]:
#round(100*(master_frame.isnull().sum()/ len(master_frame.index)),2)

In [607]:
### master.found.value_count()

In [608]:
### check the nead, info , description , shape of Master

In [609]:
master_frame.describe().transpose

<bound method DataFrame.transpose of        raised_amount_usd
count       2.204400e+04
mean        1.512699e+07
std         3.615197e+07
min         0.000000e+00
25%         3.500000e+06
50%         7.700000e+06
75%         1.530000e+07
max         1.200000e+09>

In [610]:
master_frame.shape

(22044, 15)

In [611]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22044 entries, 0 to 22043
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   company_permalink        22044 non-null  object
 1   funding_round_permalink  22044 non-null  object
 2   funding_round_type       22044 non-null  object
 3   funding_round_code       22044 non-null  object
 4   funded_at                22044 non-null  object
 5   raised_amount_usd        22044 non-null  float64
 6   name                     22044 non-null  object
 7   homepage_url             22044 non-null  object
 8   category_list            22044 non-null  object
 9   status                   22044 non-null  object
 10  country_code             22044 non-null  object
 11  state_code               22044 non-null  object
 12  region                   22044 non-null  object
 13  city                     22044 non-null  object
 14  founded_at               22044 non-null  object
dtypes: float64(1), object(14)
memory usage: 2.7+ MB

In [612]:
### there are two colums with the same name called founded at
medium = master_frame['raised_amount_usd'].median()
medium

7700000.0

In [613]:
master_frame['raised_amount_usd'].head()

0     2000000.0
1    20000000.0
2     8900000.0
3     4000000.0
4     2520000.0
Name: raised_amount_usd, dtype: float64

In [614]:
### just checking unique val in master

In [615]:
master_frame['funding_round_type'].unique()

array(['venture', 'seed', 'undisclosed', 'convertible_note', 'angel',
       'debt_financing', 'private_equity', 'post_ipo_equity'],
      dtype=object)

In [616]:

#New_master_frame = master_frame[(master_frame.funding_round_type == 'venture' | master_frame.funding_round_type == 'seed' )]

In [617]:
##use medium to fill NaN values in raised_amount_usd

In [618]:
#sort master data fr with funding type (10)
sort = master_frame.sort_values('funding_round_type')
sort = master_frame.head(10)

In [619]:
#master_frame['raised_amount_usd']= master_frame['raised_amount_usd'].fillna(medium)

In [620]:
###Calculate the most representative value of the investment amount for each of the four funding types (venture, angel, seed, and private equity)

In [621]:
master_frame['funding_round_type'].describe

<bound method NDFrame.describe of 0        venture
1        venture
2        venture
3        venture
4        venture
          ...
22039    venture
22040    venture
22041    venture
22042    venture
22043    venture
Name: funding_round_type, Length: 22044, dtype: object>

In [622]:
### calling sort 
sort

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
1,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
2,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
3,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
4,/organization/1000memories,/funding-round/502bd0e50c27616995e4bdad24605ef8,venture,A,16-02-2011,2520000.0,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010
5,/organization/1001-menus,/funding-round/645b4cd895450b8e0268027cd7813047,venture,B,04-11-2015,6602694.0,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
6,/organization/1001-menus,/funding-round/8025123b90c1ab687f9857ffe18bfd3b,venture,A,13-11-2013,1736910.0,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
7,/organization/1001-menus,/funding-round/b6c28ea4ebe32db7083052cf87e7c368,venture,A,25-10-2013,1800000.0,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
8,/organization/1001pharmacies-com,/funding-round/a21fc4d20200f43e3a25fd9cfc7c1482,venture,A,09-07-2015,8900000.0,1001pharmacies.com,http://www.1001pharmacies.com/,Cosmetics|Marketplaces,operating,FRA,A9,Montpellier,Montpellier,01-01-2012
9,/organization/1006-tv,/funding-round/b6aeb7401ec6993f92a16cbca153b600,venture,B,31-07-2014,10000000.0,1006.tv,http://www.1006.tv/,Games|Media,operating,CHN,22,Beijing,Beijing,01-01-2009

In [623]:
###checking the value count of funding_round_type

master_frame.funding_round_type.value_counts()

venture             21935
seed                   75
angel                  15
undisclosed             6
convertible_note        5
debt_financing          4
private_equity          3
post_ipo_equity         1
Name: funding_round_type, dtype: int64

In [624]:
###  filter the data so it only contains the chosen investment type

In [625]:
### Checkpoint 3: Country Analysis

In [626]:
sort_countries = master_frame.sort_values('country_code')

In [627]:
sort_countries= sort_countries.head(9)

In [628]:
sort_countries

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
4724,/organization/content-syndicate-words-on-demand,/funding-round/38661846a04df823b0220a986b3cb54d,venture,A,05-01-2009,1500000.0,Content Syndicate: Words on Demand,http://www.contentsyndicate.com,Cloud Computing|Content|Enterprise Software|In...,operating,ARE,3,Dubai,Dubai,10-09-2007
19082,/organization/the-luxury-closet,/funding-round/80fdf9cd540e02dd8bb55a29f6c4cd18,venture,A,01-04-2015,2200000.0,The Luxury Closet,http://www.theluxurycloset.com,E-Commerce|Lifestyle|Retail,operating,ARE,3,Dubai,Dubai,01-06-2012
2303,/organization/bayzat,/funding-round/0f721538e5e7b9e396a51afe2a352d3c,venture,A,28-06-2015,998999.0,Bayzat,http://www.bayzat.com,Banking|Insurance|Price Comparison,operating,ARE,3,Dubai,Dubai,01-01-2011
3611,/organization/careem,/funding-round/ebbd0bb7376f7d152430ccf0501f4d39,venture,C,10-11-2015,60000000.0,Careem,http://careem.com,Public Transportation|Transportation,operating,ARE,3,Dubai,Dubai,15-06-2012
3610,/organization/careem,/funding-round/26b3bfa126cb0341bbd0097c97a089bf,venture,B,02-12-2014,10000000.0,Careem,http://careem.com,Public Transportation|Transportation,operating,ARE,3,Dubai,Dubai,15-06-2012
7026,/organization/fetchr,/funding-round/09f75d4f9767e5752fba4258cb017e5d,venture,A,09-06-2015,11000000.0,Fetchr,http://fetchr.us,Logistics,operating,ARE,3,Dubai,Dubai,01-11-2012
4027,/organization/chipin,/funding-round/adf1e26e14d70f946661a575da992733,venture,B,01-06-2008,5000000.0,ChipIn,http://www.chipin.com,Curated Web,operating,ARE,6,Dubai,Sharjah,01-01-2005
12621,/organization/namshi,/funding-round/6f23fa280cff0a0adeed155a2336477a,venture,C,13-05-2013,13000000.0,Namshi,http://www.namshi.com,E-Commerce,operating,ARE,3,Dubai,Dubai,01-01-2011
4608,/organization/compareit4me,/funding-round/f3326d48d0e6640594971540dd8a004a,venture,A,13-09-2015,3000000.0,compareit4me,http://compareit4me.com/,Finance|Marketplaces|Price Comparison,operating,ARE,3,Dubai,Dubai,01-01-2011

In [629]:
### extra analysis to aid my understanding of my dataset

In [630]:
sort_countries['country_code'].describe

<bound method NDFrame.describe of 4724     ARE
19082    ARE
2303     ARE
3611     ARE
3610     ARE
7026     ARE
4027     ARE
12621    ARE
4608     ARE
Name: country_code, dtype: object>

In [631]:
master_frame['country_code'].describe().head()

count     22044
unique       64
top         USA
freq      16794
Name: country_code, dtype: object

In [632]:
### count country_code to gey top countries

In [633]:
master_frame.country_code.value_counts()

USA    16794
GBR      795
CHN      731
CAN      485
IND      462
       ...
GTM        1
SVN        1
BAH        1
PER        1
MAR        1
Name: country_code, Length: 64, dtype: int64

In [634]:
### Vwork with venture as the top funding_round_type, now store all ventures in master frame funding_round_type

In [635]:
master_frame = master_frame[master_frame['funding_round_type']== 'venture']

In [636]:
master_frame.head(10)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
1,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,09-11-2015,20000000.0,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
2,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
3,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
4,/organization/1000memories,/funding-round/502bd0e50c27616995e4bdad24605ef8,venture,A,16-02-2011,2520000.0,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010
5,/organization/1001-menus,/funding-round/645b4cd895450b8e0268027cd7813047,venture,B,04-11-2015,6602694.0,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
6,/organization/1001-menus,/funding-round/8025123b90c1ab687f9857ffe18bfd3b,venture,A,13-11-2013,1736910.0,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
7,/organization/1001-menus,/funding-round/b6c28ea4ebe32db7083052cf87e7c368,venture,A,25-10-2013,1800000.0,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010
8,/organization/1001pharmacies-com,/funding-round/a21fc4d20200f43e3a25fd9cfc7c1482,venture,A,09-07-2015,8900000.0,1001pharmacies.com,http://www.1001pharmacies.com/,Cosmetics|Marketplaces,operating,FRA,A9,Montpellier,Montpellier,01-01-2012
9,/organization/1006-tv,/funding-round/b6aeb7401ec6993f92a16cbca153b600,venture,B,31-07-2014,10000000.0,1006.tv,http://www.1006.tv/,Games|Media,operating,CHN,22,Beijing,Beijing,01-01-2009

In [637]:
### count funding_round_type

In [638]:
master_frame['funding_round_type'].value_counts()

venture    21935
Name: funding_round_type, dtype: int64

In [639]:
### checking the columns

In [640]:
master_frame.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd', 'name',
       'homepage_url', 'category_list', 'status', 'country_code', 'state_code',
       'region', 'city', 'founded_at'],
      dtype='object')

In [641]:
### PIVOT

In [642]:
top9 = pd.pivot_table(master_frame, 
               values='raised_amount_usd',
               index=['country_code'],
               aggfunc='sum')

In [643]:
###SORT

In [644]:
top9 = top9.sort_values(by='raised_amount_usd', ascending=False).head(9)

In [645]:
### check top9 countries

In [646]:
top9

              raised_amount_usd
country_code
USA                2.539460e+11
CHN                2.478925e+10
GBR                1.014902e+10
IND                9.824228e+09
CAN                5.182127e+09
ISR                4.736166e+09
DEU                4.185196e+09
FRA                3.854152e+09
SWE                2.120097e+09

In [647]:
pd.pivot_table(top9, index=['USA'], col)

SyntaxError: positional argument follows keyword argument (<ipython-input-647-d2c1c310a29c>, line 1)

In [648]:
### Read Mapping.csv

In [649]:
data = pd.read_csv("mapping.csv")
data.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [650]:
new_data=data.dropna()

In [651]:
new_data.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1
5,Active Lifestyle,0,0,0,0,1,0,0,0,0

In [652]:
### Using melt strip table!

In [653]:
melt = pd.melt(new_data, id_vars='category_list', value_vars=new_data.columns[2:])

In [654]:
melt= melt[melt['value']==1]
melt

              category_list                                 variable  value
702   Air Pollution Control               Cleantech / Semiconductors      1
719             Aquaculture               Cleantech / Semiconductors      1
747               Bio-Pharm               Cleantech / Semiconductors      1
748                Biofuels               Cleantech / Semiconductors      1
749          Bioinformatics               Cleantech / Semiconductors      1
...                     ...                                      ...    ...
5425      Social Recruiting  Social, Finance, Analytics, Advertising      1
5426      Social Television  Social, Finance, Analytics, Advertising      1
5427          Social Travel  Social, Finance, Analytics, Advertising      1
5438        Stock Exchanges  Social, Finance, Analytics, Advertising      1
5471        Venture Capital  Social, Finance, Analytics, Advertising      1

[665 rows x 3 columns]

In [655]:
### merge this with the master data frame! 
newly_merged = pd.merge(melt, master_frame, how= "inner", left_on= "category_list", right_on= "category_list")
newly_merged.head()

,category_list,variable,value,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,status,country_code,state_code,region,city,founded_at
0,Bio-Pharm,Cleantech / Semiconductors,1,/organization/pamlico-biopharma,/funding-round/57b1fc68935d90976f238132adff858b,venture,A,29-04-2015,2200000.0,Pamlico Biopharma,http://pamlicobio.com/,operating,USA,OK,Oklahoma City,Oklahoma City,01-01-2011
1,Bio-Pharm,Cleantech / Semiconductors,1,/organization/sutrovax,/funding-round/d71415f20e8185a38b3cf13a6d22a57f,venture,A,23-07-2015,22000000.0,SutroVax,http://www.sutrovax.com/,operating,USA,CA,SF Bay Area,South San Francisco,01-01-2013
2,Bio-Pharm,Cleantech / Semiconductors,1,/organization/vira-therapeutics,/funding-round/af4bedf91fa18e417f8427991ed57885,venture,A,24-06-2015,4051316.0,Vira Therapeutics,http://www.viratherapeutics.com/,operating,AUT,7,Innsbruck,Innsbruck,24-06-2015
3,Biotechnology,Cleantech / Semiconductors,1,/organization/10x-technologies,/funding-round/39c1441d5098875a925577d0f2ad3904,venture,B,12-01-2015,550000.0,10X Technologies,http://10xtechnologies.com,operating,USA,CA,SF Bay Area,Oakland,01-01-2012
4,Biotechnology,Cleantech / Semiconductors,1,/organization/22nd-century-group,/funding-round/cedc6b27425a338e08d5e24e1f96dbd1,venture,A,16-11-2012,2428500.0,22nd Century Group,http://www.xxiicentury.com,ipo,USA,NY,NY - Other,Clarence,01-01-1998

In [656]:
#a.isnull().sum()

In [657]:
newly_merged.shape

(9195, 17)

In [669]:
D1 = top9.filter(items=['USA'])

In [666]:
D2 = top9.filter(items=['GBR'])

In [ ]:
D3 = master_frame.filter(items=['GBR'])

In [673]:
### Bar Graph
'''I had some issues and since it was getting close to been due I couldnt complete the other part of this analysis '''