In [13]:
import pandas as pd
customer = pd.read_csv('https://query.data.world/s/y9rxL9mGdP6AXPiDaIL4yYm6DsfTV2')

In [15]:
customer['Cust_id'] = customer['Cust_id'].map(lambda x: x.lstrip('Cust_'))

In [16]:
customer.head()

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS       1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER       2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE       3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER       4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE       5