In [2]:
import pandas as pd
import numpy as np

customer = pd.read_csv('https://query.data.world/s/y9rxL9mGdP6AXPiDaIL4yYm6DsfTV2')

In [48]:
customer.head()

        Customer_Name Province   Region Customer_Segment  Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS    False
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER     True
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE     True
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER     True
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE     True

In [50]:
customer['Cust_id'] = customer['Cust_id'].duplicated(keep = False)

In [51]:
customer['Cust_id']

0       False
1        True
2        True
3        True
4        True
        ...
1827     True
1828     True
1829     True
1830     True
1831     True
Name: Cust_id, Length: 1832, dtype: bool