In [ ]:

import numpy as np

In [ ]:
import pandas as pd
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')

print(marks)

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17    30.00     63.15  48.89
3        7       81.22     96.06    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[99 rows x 6 columns]

In [ ]:
marks.columns

Index(['Prefix', 'Assignment', 'Tutorial', 'Midterm', 'TakeHome', 'Final'], dtype='object')

In [ ]:
marks.tail(15)

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
84       6       95.60     61.40    64.38     99.81  42.78
85       4       87.93     99.47    53.12     87.96  61.11
86       6       98.49     95.43    42.50     24.77  39.44
87       7       74.35     92.93    86.25     78.70  73.89
88       7       86.29     88.81    83.12     77.96  75.83
89       8       97.00    100.52    64.38     90.74  58.61
90       8         NaN       NaN      NaN       NaN    NaN
91       8       96.41    103.71    56.25     95.93  66.39
92       7       95.60     82.28    76.88    108.33  78.33
93       8       87.52     91.58    56.25     71.85  85.00
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

In [ ]:
marks.isnull().sum()

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

In [ ]:
marks = marks.dropna(axis=0, thresh=5)

The above is to drop any row with missing value up to 5 .

In [ ]:
marks.isnull().sum()

Prefix        0
Assignment    0
Tutorial      0
Midterm       4
TakeHome      1
Final         3
dtype: int64

In [ ]:
marks.Final.isnull().sum()

3

In [ ]:
marks = marks[marks.isnull().sum(axis=1)<5]

In [ ]:
marks.isnull().sum()

Prefix        0
Assignment    0
Tutorial      0
Midterm       4
TakeHome      1
Final         3
dtype: int64

learning more about missing value, read https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

In [33]:
marks.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 15, 16, 17, 18, 19, 20,
            21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
            38, 39, 40, 41, 42, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
            61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78,
            79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96,
            97, 98],
           dtype='int64')

Remove extra characters like such as common prefix/suffix, leading/trailing/multiple spaces, etc. These are irrelevant to analysis.

Standardise case: There are various cases that string variables may take, e.g. UPPERCASE, lowercase, Title Case, Sentence case, etc.

Standardise format: E.g. 23/10/16 to 2016/10/23, “Modi, Narendra" to “Narendra Modi", etc.

You could use this as a checklist for future data cleaning exercises.

Standardise units: Ensure all observations under a variable have a common and consistent unit, e.g. convert lbs to kgs, miles/hr to km/hr, etc.

Scale values if required:  Make sure the observations under a variable have a common scale

Standardise precision for better presentation of data, e.g. 4.5312341 kgs to 4.53 kgs.

Remove outliers: Remove high and low values that would disproportionately affect the results of your analysis.